
<app-header></app-header>
<div class="parent">
  <div
    class="container"
    [ngClass]="isSignDivVisiable ? 'active' : ''"
    id="container"
  >
    <div class="form-container sign-up" #scrollframe>
      <form>
        <h1>Create Account</h1>
        <div class="mb-3">
          <label for="firstname" class="form-label">Firstname</label>
          <input [(ngModel)]="registerRequest.firstname" type="text" class="form-control" id="firstname" name="firstname" placeholder="Firstname">
        </div>
        <div class="mb-3">
          <label for="lastname" class="form-label">Lastname</label>
          <input [(ngModel)]="registerRequest.lastname" type="text" class="form-control" id="lastname" name="lastname" placeholder="Lastname">
        </div>
        <div class="mb-3">
          <label for="login" class="form-label">Email address</label>
          <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="login" name="login" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button (click)="onRegister()"> <em class="fas fa-sign-in-alt">&nbsp;Create an account</em></button>
      </form>
    </div>
    <div class="form-container sign-in" #scrollframe>
      <form>
        <h1>Sign In</h1>
        <div class="mb-3">
          <label for="login" class="form-label">Email address</label>
          <input [(ngModel)]="authRequest.email"  type="email" class="form-control" id="login" name="login" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input [(ngModel)]="authRequest.password" type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <a href="#">→ Forget Your Password? ←</a>
        <button (click)="onLogin()"> <em class="fas fa-sign-in-alt">&nbsp;Sign in</em></button>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Welcome Back!</h1>
          <p>Enter your personal details to use all of site features</p>
          <button
            type="button"
            class="hidden"
            id="login"
            (click)="isSignDivVisiable = false"
          >
          <em class="fas fa-sign-in-alt">&nbsp;Sign in</em>
          </button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Hello, Friend!</h1>
          <p>Register with your personal details to use all of site features</p>
          <button
            type="button"
            class="hidden"
            id="register"
            (click)="isSignDivVisiable = true"
          >
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
