<div class="header">
  <div class="container">
    <button class="button">ChatAI</button>
  </div>
  <nav class="navbar">
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="/selectCharacter" class="navbar__link" ><i data-feather="home"></i><span>Home</span> </a>
      </li>
      <li class="navbar__item" >
        <a href="/selectVisuals" class="navbar__link" ><i data-feather="Customize"></i><span>Customize Chat</span></a>
      </li>
      <li class="navbar__item">
        <a href="/generateImg" class="navbar__link" ><i data-feather="users"></i><span>Generate Image</span></a>
      </li>
      <li class="navbar__item">
        <a href="/chatpage" class="navbar__link" ><i data-feather="folder"></i><span>Chat Page</span></a>
      </li>
      <li class="navbar__item">
        <a href="/payment" class="navbar__link"  ><i data-feather="archive"></i><span>Payment</span></a>
      </li>
      <li class="navbar__item">
        <a href="#" class="navbar__link"><i data-feather="help-circle"></i><span>Help</span></a>
      </li>
      <li class="navbar__item">
        <a href="/login" class="navbar__link" ><i data-feather="settings"></i><span>Login/SignUp</span></a>
      </li>
    </ul>
  </nav>
</div>
