body {
  background: mediumturquoise;
  position: relative;
  height: 92%;

  .generate-image {
    width: 31%;
    height: 95%;
    float: left;
    padding: 10px;
    background-color: #1b233d;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 1rem;
  }
  .card {
    --bg-card: #27272a;
    --primary: #6d28d9;
    --primary-800: #4c1d95;
    --primary-shadow: #2e1065;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    padding: 1rem;
    width: fit-content;
    height: 95%;
    background-color: #1b233d;

    border-radius: 1rem;
  }

  .loader-circle-9 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-family: sans-serif;
    font-size: 12px;
    color: #00eaff;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }

  .loader-circle-9:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #00eaff;
    border-right: 3px solid #00eaff;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
  }

  .loader-circle-9 span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
  }

  .loader-circle-9 span:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00eaff;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #00eaff;
  }

  @keyframes animateC {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animate {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(405deg);
    }
  }

  .title {
    overflow: clip;

    width: 100%;

    font-size: 1rem;
    font-weight: 600;
    color: var(--light);
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

  .size {
    font-size: 0.75rem;
    color: var(--light);
  }

  .action {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .cart-button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    padding: 0.5rem;
    width: 100%;
    background-image: var(--bg-linear);

    font-size: 0.75rem;
    font-weight: 500;
    color: var(--light);
    text-wrap: nowrap;
    margin-top: -6px;
    border: 2px solid hsla(262, 83%, 58%, 0.5);
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.25rem 1px var(--light);
  }


  .example-form {
    width: 100%;
  }
  .example-header-image {
    background-image: url("/src/assets/anime/character_1/posed_image_3.png");
    background-size: cover;
    background-color: #7184c2;
  }
  .example-full-width {
    width: 100%;
    height: 150%;
  }
  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

  .example-button-row {
    margin-top: 50px;
    // display: table-cell;
    max-width: 600px;
    margin-left: 10px;
    //background-color: #512da8;
  }
  .example-button-row2 {
    margin-top: 10px;
    // display: table-cell;
    padding-bottom: 32px;
    max-width: 600px;
    margin-left: 10px;
    //background-color: #512da8;
  }
  .example-button-row .mat-mdc-button-base {
    margin: 12px 12px 12px 12px;
    background-color: blue;
  }
  .example-button-row2 .mat-mdc-button-base {
    margin: 12px 12px 12px 12px;
    background-color: blue;
  }
  .example-button-row3 .mat-mdc-button-base {
    margin: 12px 12px 12px 12px;
    background-color: blue;
  }
  .example-button-row3 .mat-mdc-button-base {
    margin: 12px 12px 12px 12px;
    background-color: blue;
  }



  .choose-character {
    border-radius: 1rem;
    width: 64%;
    height: 95%;
    float: left;
    padding: 20px;
   // background-image: url("/src/assets/Backgroud/back7.jfif");
    //background-color: #d4d4dc ;
    margin-left: 20px;
    margin-top: 10px;
    background: rgb(17, 4, 134);
    border-radius: 15px;
    box-shadow: rgb(0,0,0,0.7) 5px 10px 50px ,rgb(0,0,0,0.7) -5px 0px 250px;
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    color: white;
  }
  .e-card {
    margin: 10px auto;
    background: transparent;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    position: relative;
    width: 500px;
    height: 50px;
    border-radius: 16px;
    overflow: hidden;
  }

  .wave {
    position: absolute;
    width: 950px;
    height: 450px;
    opacity: 0.6;
    left: 0;
    top: 0;
    margin-left: -40%;
    margin-top: -40%;
    background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
  }

  .icon {
    width: 3em;
    margin-top: -1em;
    padding-bottom: 1em;
  }

  .infotop {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: -2.5em;
    left: 0;
    right: 0;
    color: rgb(255, 255, 255);
    font-weight: 500;
  }

  .name {
    font-size: 14px;
    font-weight: 100;
    position: relative;
    top: 1em;
    text-transform: lowercase;
  }

  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 210px;
  }

  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }

  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }

  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }

  .wave:nth-child(2) {
    animation-duration: 50s;
  }

  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }

  .wave:nth-child(3) {
    animation-duration: 45s;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
  .text-format {
    // color: #d9d9d9
    font-size: medium;
  }
  .example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    align-items: flex-start;
  }

  .example-radio-button {
    margin: 5px;
  }
  .action1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1px;
  }
  .cart-button1 {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    padding: 0.5rem;
    width: 100%;
   // background-image: var(--bg-linear);
background-color: yellowgreen;

  }

}
